.root-layout {
  padding: 0.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .user-name {
    visibility: hidden;
  }

  @media (min-width: 1024px) {
    padding: 1rem 4rem;

    .user-name {
      visibility: visible;
    }
  }

  .logo-link {
    display: flex;
    align-items: center;
  }

  .title {
    padding-left: 0.5rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 0.5rem;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  main {
    overflow: hidden;
    flex: 1;
  }
}
