.root-layout {
  padding: 0.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .user-name {
    visibility: hidden;
  }

  @media (min-width: 768px) {
    padding: 1rem 4rem;

    .user-name {
      visibility: visible;
    }
  }

  .logo-link {
    display: flex;
    align-items: center;
    padding-left: 0.375rem;
  }

  .title {
    padding-left: 0.5rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 0.5rem;
    }

    img {
      width: 2rem;
      height: 2rem;
      padding-right: 0.625rem;
    }
  }

  main {
    overflow: hidden;
    flex: 1;
  }
}
